astroid==2.2.5
Click==7.0
fastapi==0.33.0
Flask==1.1.1
h11==0.8.1
httptools==0.0.13
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
loguru==0.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
pydantic==0.30
pylint==2.3.1
six==1.12.0
starlette==0.12.0
typed-ast==1.4.0
uvicorn==0.8.4
uvloop==0.12.2
websockets==7.0
Werkzeug==0.15.5
wrapt==1.11.1
